<div class = "row container">
    <h3>รายชื่อผู้ป่วย</h3>
    <hr>
    <div class = "col-md-12">
        <h5>กำลังพบแพทย์</h5>
        <patient-list-element-c (click)="goto(11)"></patient-list-element-c>
        <patient-list-element-c></patient-list-element-c>
    </div>
    <div class = "col-md-12">
        <h5>รอพบแพทย์</h5>
        <patient-list-element-c></patient-list-element-c>
    </div>
    <div class = "col-md-12">
        <h5>ยังไม่ได้ตรวจร่างกาย</h5>
        <patient-list-element-c></patient-list-element-c>
    </div>
    <div class = "col-md-12">
        <h5>ยังไม่มา(ไม่พิมพ์ใบนัด)</h5>
        <patient-list-element-c></patient-list-element-c>
    </div>
    <div class = "col-md-12">
        <h5>พบแพทย์แล้ว</h5>
        <patient-list-element-c></patient-list-element-c>
    </div>
</div>