<div class="add-physical-check">
    <div class="form-group row">
        <div class="col-xs-4">
            <label for="example-text-input" class="col-xs-5 col-form-label right">น้ำหนัก (กก.)</label>
            <div class="col-xs-7 space-top">
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-xs-4">
            <label for="example-text-input" class="col-xs-5 col-form-label right">ส่วนสูง (ซม.)</label>
            <div class="col-xs-7 space-top">
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-xs-4">
            <label for="example-text-input" class="col-xs-5 col-form-label right">อุณหภูมิ (องศา)</label>
            <div class="col-xs-7 space-top">
                <input class="form-control" type="text">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-4">
            <label for="example-text-input" class="col-xs-5 col-form-label right">อัตราการเต้นหัวใจ</label>
            <div class="col-xs-7 space-top">
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-xs-4">
            <label for="example-text-input" class="col-xs-5 col-form-label right">ความดันช่วงบีบ</label>
            <div class="col-xs-7 space-top">
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-xs-4">
            <label for="example-text-input" class="col-xs-5 col-form-label right">ความดันช่วงคลาย</label>
            <div class="col-xs-7 space-top">
                <input class="form-control" type="text">
            </div>
        </div>
    </div>
    <div class="right">
        <button type="button" class="btn btn-primary" style="width: 150px">เพิ่ม</button>
    </div>
</div>
<hr>
<div class="physical-check-history">
    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="thead-default">
                <tr>
                    <th>วันที่</th>
                    <th>น้ำหนัก (กก.)</th>
                    <th>ส่วนสูง (ซม.)</th>
                    <th>อุณหภูมิ (องศา)</th>
                    <th>อัตราการเต้นหัวใจ</th>                
                    <th>ความดันช่วงบีบ</th>
                    <th>ความดันช่วงคลาย</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">01/10/59</th>
                    <td>40</td>
                    <td>145</td>
                    <td>37.5</td>
                    <td>80</td>
                    <td>90</td>
                    <td>120</td>                
                </tr>
                <tr>
                    <th scope="row">17/08/59</th>
                    <td>30</td>
                    <td>145</td>
                    <td>37.5</td>
                    <td>80</td>
                    <td>90</td>
                    <td>110</td>
                </tr>
            </tbody>  
        </table>
    </div>
</div>