<header>
   <a href="index.html" class="logo">
       <!--<img src="img/logo.png" alt="Arise Admin Dashboard Logo">-->
    </a>
   <ul id="header-actions" class="clearfix">
      <li class="list-box user-admin hidden-xs dropdown">
         <div class="admin-details">
            <div class="name">Gu Doctor</div>
            <div class="designation">Staff Admin</div>
         </div>
         <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i></a>
         <ul class="dropdown-menu sm">
            <li class="dropdown-content"><a href="login.html">Logout</a></li>
         </ul>
      </li>
      <li><button type="button" id="toggleMenu" class="toggle-menu"><i class="collapse-menu-icon" (click)="navToggle()"></i></button></li>
   </ul>
</header>

<div class="vertical-nav">
   <button class="collapse-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
   <div class="user-details clearfix">
      <a class="user-img"><img src="/resources/images/icon_people/fm_doctor_default.png" class="img-responsive">
        <!--<span class="likes-info">9</span>-->
      </a>
      <h5 class="user-name">Gu Staff</h5>
   </div>
   <ul class="menu clearfix">
      <li class="active selected"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span class="menu-item">จัดการผู้ป่วย</span></a></li>
      <li><a href="manage"><i class="fa fa-calendar" aria-hidden="true"></i> <span class="menu-item">จัดการตารางหมอ</span></a></li>
      <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> <span class="menu-item">จัดการ Hospital Staff</span></a></li>
      <li><a href="manage/manage_queue"><i class="fa fa-check-square-o" aria-hidden="true"></i> <span class="menu-item">Checkin เข้าห้องหมอ</span></a></li>
   </ul>
</div>
<div class="dashboard-wrapper dashboard-wrapper-lg">
    <router-outlet></router-outlet>
</div>