.container{
    background-color: #FFFFFF;
    background-repeat: repeat-y;
            margin-bottom: 30px;

}
.center{
    text-align: center !important;
}
.back{
    color: #4286F7 !important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.container2{
    margin: 0 5%;
}

.title{
    margin-bottom: 20px;
}