<a class="back" (click)="goBack()">< ย้อนกลับ</a>
<hr>
<div class="container">
    <br>
    <h3 class ="center">ลงทะเบียนผู้ป่วยใหม่</h3>
    <hr>
    <div class="form-group row">
        <label for="inputFirstName" class="col-sm-2 col-form-label">ชื่อ</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputFirstName" placeholder="กรุณากรอกชื่อจริง">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputLastName" class="col-sm-2 col-form-label">นามสกุล</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLastName" placeholder="กรุณากรอกนามสกุล">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputNationalId" class="col-sm-2 col-form-label">รหัสประจำตัวประชาชน</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNationalId" placeholder="กรุณากรอกรหัสประจำตัวประชาชน 13 หลัก">
        </div>
    </div>
    <hr>
    <div class="form-group row">
        <label for="inputHouseNo" class="col-sm-2 col-form-label">ที่อยู่</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputHouseNo" placeholder="กรุณากรอกที่อยู่: บ้านเลขที่ ถนน หมู่">
        </div>
    </div>
    <div class="form-group row">
        <label for="input" class="col-sm-2 col-form-label">จังหวัด</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNationalId" placeholder="กรุณากรอกรหัสประจำตัวประชาชน 13 หลัก">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputDistrict" class="col-sm-2 col-form-label">เขต (อำเภอ)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDistrict" placeholder="กรุณากรอกเขต (อำเภอ)">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputSubdistrict" class="col-sm-2 col-form-label">แขวง (ตำบล)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNationalId" placeholder="กรุณากรอกแขวง (ตำบล)">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPostcode" class="col-sm-2 col-form-label">รหัสไปรษณีย์</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPostcode" placeholder="กรุณากรอกรหัสไปรษณีย์">
        </div>
    </div>
    <hr>
    <div class="form-group row">
        <label for="inputPhone" class="col-sm-2 col-form-label">เบอร์โทรศัพท์</label>
        <div class="col-sm-10">
            <input type="tel" class="form-control" id="inputPhone" placeholder="กรุณากรอกเบอร์โทรศัพท์">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="tel" class="form-control" id="inputEmail" placeholder="กรุณากรอกอีเมล">
        </div>
    </div>
    <div class="center">
        <button type="button" class="btn btn-danger center" (click)="goBack()">ยกเลิก</button>
        <button type="button" class="btn btn-primary center">ลงทะเบียน</button>
        <br>
        <br>
    </div>
</div>
<br>
<br>
<br><br>
