
.center{
    text-align: center !important;
}
.back{
    color: #4286F7 !important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.container{
    padding: 2% 0;
}

.bg {
  background-color: #ebebeb;
  width: 100%;
  height: auto;
}

.card-header{
    text-align: center;
    background-color: lightgrey;
}

.info{
    padding-top: 10px;
    padding-left: 30px;
}

.card-block{
    padding-bottom: 0;
}

.card{
    box-shadow: 0 0 0 1px #D4D4D5,1px 3px 0 0 #1abd9d,0 1px 3px 0 #D4D4D5;
}