.container{
    background-color: #FFFFFF;
    background-repeat: repeat-y;
}
.center{
    text-align: center !important;
}
.back{
    color: #4286F7 !important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}
