<h3>จัดการบุคคลากร</h3>
<hr>
<div class="container">
<br>
    <div class = "row">
        <div class = "col-md-12">
            <div class="right">
                <button type="button" class="btn btn-primary" style="width: 150px"><i class="fa fa-plus" aria-hidden="true"></i> เพิ่มบุคคลากร</button>
            </div>
            <br>
            <div class="form-group row">
                <label for="inputDepartment" class="col-sm-2 col-form-label">แผนก</label>
                <div class="col-sm-10">
                    <select class="form-control" id="inputDepartment">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                </div> 
            </div>
        </div>
        <div class = "col-md-12">
            <h6>แพทย์</h6>
            <div class="staff">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>ชื่อ</th>
                                <th>นามสกุล</th>
                                <th>username</th>
                                <th>เปลี่ยน Password</th>
                                <th>ลบบุคคลากร</th>                                                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>กรชนก</td>
                                <td>จิรเวศยกุล</td>
                                <td>Pohfy</td>
                                <td><button type="button" class="btn btn-warning" style="width: 150px">เปลี่ยน Password</button></td>
                                <td><button type="button" class="btn btn-danger">ลบ</button></td>                                        
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>กรชนก</td>
                                <td>จิรเวศยกุล</td>
                                <td>Pohfy</td>
                                <td><button type="button" class="btn btn-warning" style="width: 150px">เปลี่ยน Password</button></td>                                
                                <td><button type="button" class="btn btn-danger">ลบ</button></td>        
                            </tr>
                        </tbody>  
                    </table>
                </div>
            </div>
        </div>
        <div class = "col-md-12">
            <h6>พยาบาล</h6>
            <div class="staff">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>ชื่อ</th>
                                <th>นามสกุล</th>
                                <th>username</th>
                                <th>เปลี่ยน Password</th>
                                <th>ลบบุคคลากร</th>                                                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>กรชนก</td>
                                <td>จิรเวศยกุล</td>
                                <td>Pohfy</td>
                                <td><button type="button" class="btn btn-warning" style="width: 150px">เปลี่ยน Password</button></td>
                                <td><button type="button" class="btn btn-danger">ลบ</button></td>                                        
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>กรชนก</td>
                                <td>จิรเวศยกุล</td>
                                <td>Pohfy</td>
                                <td><button type="button" class="btn btn-warning" style="width: 150px">เปลี่ยน Password</button></td>                                
                                <td><button type="button" class="btn btn-danger">ลบ</button></td>        
                            </tr>
                        </tbody>  
                    </table>
                </div>
            </div>
        </div>
        <div class = "col-md-12">
            <h6>เภสัชกร</h6>
            <div class="staff">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>ชื่อ</th>
                                <th>นามสกุล</th>
                                <th>username</th>
                                <th>เปลี่ยน Password</th>
                                <th>ลบบุคคลากร</th>                                                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>กรชนก</td>
                                <td>จิรเวศยกุล</td>
                                <td>Pohfy</td>
                                <td><button type="button" class="btn btn-warning" style="width: 150px">เปลี่ยน Password</button></td>
                                <td><button type="button" class="btn btn-danger">ลบ</button></td>                                        
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>กรชนก</td>
                                <td>จิรเวศยกุล</td>
                                <td>Pohfy</td>
                                <td><button type="button" class="btn btn-warning" style="width: 150px">เปลี่ยน Password</button></td>                                
                                <td><button type="button" class="btn btn-danger">ลบ</button></td>        
                            </tr>
                        </tbody>  
                    </table>
                </div>
            </div>
        </div>
        <div class = "col-md-12">
            <h6>เจ้าหน้าที่ของโรงพยาบาล</h6>
            <div class="staff">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>ชื่อ</th>
                                <th>นามสกุล</th>
                                <th>username</th>
                                <th>เปลี่ยน Password</th>
                                <th>ลบบุคคลากร</th>                                                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>กรชนก</td>
                                <td>จิรเวศยกุล</td>
                                <td>Pohfy</td>
                                <td><button type="button" class="btn btn-warning" style="width: 150px">เปลี่ยน Password</button></td>
                                <td><button type="button" class="btn btn-danger">ลบ</button></td>                                        
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>กรชนก</td>
                                <td>จิรเวศยกุล</td>
                                <td>Pohfy</td>
                                <td><button type="button" class="btn btn-warning" style="width: 150px">เปลี่ยน Password</button></td>                                
                                <td><button type="button" class="btn btn-danger">ลบ</button></td>        
                            </tr>
                        </tbody>  
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>