<div class="container" *ngIf="data">
        <br>
        <section class = "patientDetail">
            <div class="row"> 
                <div class="col-md-3 col-sm-12" >
                    <img src="/resources/images/icon_people/fm_adult.png" class="patient-img">
                </div>
                <div class="col-md-9 col-sm-12" >
                    <div class="row">
                        <div class="col-sm-4">
                            <p><b>ชื่อ : </b>{{data.patient.title}}&nbsp;{{data.patient.firstName}}  </p>
                        </div>  
                        <div class="col-sm-4">
                            <p><b>นามสกุล : </b>{{data.patient.lastName}}</p>    
                        </div>
                        <div class="col-sm-4">
                            <p><b>HN : </b>{{data.patient.HN}}</p>    
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p><b>เพศ : </b>{{data.patient.sex}}</p>
                        </div>  
                        <div class="col-sm-4">
                            <p><b>อายุ : </b>{{data.patient.age}}</p>    
                        </div> 
                        <div class="col-sm-4">  
                            <p><b>กรุ๊ปเลือด : </b> </p>
                        </div>
                    </div>
                    <h5>แพทย์ผู้ตรวจ</h5>
                    <div class="row">
                        <div class="col-sm-4">
                            <p><b>ชื่อ : </b>{{data.doctor.title}}&nbsp;{{data.doctor.firstName}}</p>
                        </div>  
                        <div class="col-sm-4">
                            <p><b>สกุล : </b>{{data.doctor.lastName}}</p>    
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-success" (click)="gotoPage(5)">ดูประวัติการได้รับยา</button>
                        </div>  
                    </div>       
                </div>    
            </div>    
        </section>
        <ng-content></ng-content>
        <hr>
        <prescription-table-c [prescriptionList]="data.prescriptionList">
            <b>ยาที่แพ้ : {{data.patient.allegicTo}}</b>
        </prescription-table-c>
        <div *ngIf="data.status==1">
            <section class="control-button" [hidden]="isReject">
                <button type="button" class="btn btn-danger" style="width: 150px; margin-right: 50px" (click)="isReject = !isReject">ขอแก้ไขยา</button>
                <button type="button" class="btn btn-primary" style="width: 150px;">จ่ายยา</button>                  
            </section>
            <section class ="reject-form" [hidden]="!isReject">
                <p><b>เหตุผลที่ขอแก้ไข :</b></p>
                <textarea row="3" class="form-control"></textarea>
                <div class="form-button">
                    <button type="button" class="btn btn-danger" (click)="isReject = !isReject" style="margin-right: 10px">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" >ส่งคำร้อง</button>
                </div>
            </section>  
            <br>
        </div>

        <div *ngIf="data.status==0">
            <section>
                <p><b>เหตุผลที่ขอแก้ไข :</b> aaaaaaaaaaaaaaa</p>
            </section>
            <section class="control-button">
                <button type="button" class="btn btn-danger" style="width: 150px; margin-right: 50px" (click)="edit(1)">แก้ไขยา</button>                  
            </section>  
            <br>
        </div>
              
    </div>