.container{
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.1);
    margin-bottom: 50px;
}

.patient-img {
    width: 100px;
    margin-left: 100px;
    margin-top: 10px;
}

.prescription-detail, .reject-form , #preList{
    padding: 0 5%;
}

.control-button{
    text-align: center;
    margin-top: 20px;
}

.form-button {
    text-align: right;
    margin-top: 10px;
}
