<div class="container card-container" *ngIf="data">
        <br>
        <section class = "patientDetail">
            <div class="row"> 
                <div class="col-md-3 col-sm-12" >
                    <img src="/resources/images/icon_people/fm_adult.png" class="patient-img">
                </div>
                <div class="col-md-6 col-sm-12" >
                    <div class="row">
                        <div class="col-sm-12">
                            <p><b>ชื่อผู้ป่วย : </b><br>{{data.patient.name.title}}&nbsp;{{data.patient.name.fname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.patient.name.lname}}</p>
                        </div>  
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p><b>เพศ : </b><br>{{data.patient.sex}}</p>
                        </div>  
                        <div class="col-sm-3">
                            <p><b>อายุ : </b><br>{{year}}&nbsp;ปี&nbsp;{{month}}&nbsp;เดือน</p>    
                        </div> 
                        <div class="col-sm-3">  
                            <p><b>กรุ๊ปเลือด : </b><br> {{data.patient.bloodType}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p><b>HN : </b><br>{{data.patient.HN}}</p>    
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><b>แพทย์ผู้ตรวจ: </b><br>{{data.doctor.name.title}}&nbsp;{{data.doctor.name.fname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.doctor.name.lname}}</p>
                        </div>  
                        
                    </div>       
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row">
                            <button type="button" class="btn btn-success" (click)="seeHistory(data.patient.HN)">ดูประวัติการได้รับยา</button>
                    </div>
                    <div class="row" *ngIf="data.drugPrescription.status==2" style="padding-top: 10px;">
                            <button type="button" class="btn btn-primary" (click)="finalSubmit(data._id , data.drugPrescription._id)">ยืนยันตรวจสอบ</button>

                    </div>    
                </div>      
            </div>    
        </section>
        <ng-content></ng-content>
        <hr>
        <div class="preList">
            <prescription-table-c [prescriptionList]="data.drugPrescription.prescriptions">
                <hr>
                <div *ngIf="data.patient.allegicDrugs.length == 0">
                    <p><b>ยาที่แพ้ :&nbsp;&nbsp;</b> - </p>
                </div>
                <div *ngIf="data.patient.allegicDrugs.length != 0">
                    <p><b>ยาที่แพ้ :&nbsp;&nbsp;</b> <span *ngFor="let allegic of data.patient.allegicDrugs; let i = index">
                        {{i+1}})&nbsp;{{allegic.name}}&nbsp;&nbsp;
                        </span></p>
                </div>
            </prescription-table-c>
        </div>
        <div *ngIf="data.drugPrescription.status==1">
            <section class="control-button" [hidden]="isReject">
                <button type="button" class="btn btn-danger" style="width: 150px; margin-right: 50px" (click)="isReject = !isReject">ขอแก้ไขยา</button>
                <button type="button" class="btn btn-primary" style="width: 150px;" (click)="submit(data._id , data.drugPrescription._id)">อนุมัติการจ่ายยา</button>                  
            </section>
            <section class ="reject-form" [hidden]="!isReject">
                <p><b>เหตุผลที่ขอแก้ไข :</b></p>
             <textarea row="3" class="form-control" [(ngModel)]="reason"></textarea>
                               <div class="form-button">
                    <button type="button" class="btn btn-danger" (click)="isReject = !isReject" style="margin-right: 10px">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" (click)="rejected(data.drugPrescription._id)">ส่งคำร้อง</button>
                               </div>
            </section>  
            <br>
        </div>

        <div class="preList" *ngIf="data.drugPrescription.status==0">
            <section>
                <p><b>เหตุผลที่ขอแก้ไข :</b> {{data.drugPrescription.note}}</p>
            </section>
            <section class="control-button">
            <button type="button" class="btn btn-danger" style="width: 150px; margin-right: 50px" (click)="edit(data.drugPrescription._id)">แก้ไขยา</button>                  
            </section>  
            <br>
        </div>
              
    </div>