 	<link rel="stylesheet" href="/resources/css/main.css">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header navbar-header-snow">
          <button type="button" class="navbar-toggler pull-right hidden-lg-up" data-toggle="collapse" data-target=".navbar-collapse">
			<i class="fa fa-bars fa-lg"></i>
		  </button>
          <a class="logo" routerLink="/"><img src="/resources/images/logoTPD.png" alt="Logo"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">หน้าแรก</a></li>
            <li><a href="#pricing" class="scroll">รู้จักเรา</a></li>
            <li><a href="#">ข่าวสารโรงพยาบาล</a></li>
            <li><a href="#">บริการทางการแพทย์</a></li>
            <li><a href="#">นัดหมายแพทย์</a></li>
            <li><a href="#">ติดต่อเรา</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

	<router-outlet></router-outlet>
