<section class="container">
    <br>
    <h5 _ngcontent-bir-6="">ข้อมูลการตรวจร่างกายประจำวัน</h5>
			<div _ngcontent-bir-6="" class="card">
				<div _ngcontent-bir-6="" class="card-block">
					<blockquote _ngcontent-bir-6="" class="card-blockquote">
						<div class="row">
							<div class="col-md-4">
								<p>น้ำหนัก (กก.) : </p>
							</div>
							<div class="col-md-4">
								<p>ส่วนสูง (ซม.) : </p>
							</div>
							<div class="col-md-4">
								<p>อุณหภูมิ (องศา) : </p>
							</div>
						</div>
                        <div class="row">
							<div class="col-md-4">
								<p>อัตราการเต้นหัวใจ : </p>
							</div>
							<div class="col-md-4">
								<p>ความดันช่วงบีบ : </p>
							</div>
							<div class="col-md-4">
								<p>ความดันช่วงคลาย : </p>
							</div>
						</div>
					</blockquote>
				</div>
			</div>
    
</section>