.back{
    color: #4286F7 !important;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
.form-signin {
    max-width: 380px;
    padding: 70px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-block{
    position: absolute;
    right: 40px;
    top: 17px;
    color: #666;
    font-size: 16px;
}
.icon-block-parent{
    position: relative;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}