.back{
    color: #4286F7 !important;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
.form-signin {
    max-width: 380px;
    padding: 70px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-block{
    position: absolute;
    right: 40px;
    top: 17px;
    color: #666;
    font-size: 16px;
}
.icon-block-parent{
    position: relative;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
grey:$grey;
$fill:$primary;*/


.hourglass{
    display:block;
    background:#ffffff;
    margin:1em auto;
    width:2em;
    height:4em;
    box-shadow:
        inset #ffffff 0 0 0 0,
        inset #ffffff#00B7C5 0 2em 0 0,
        inset #ffffff 0 0 4em 0;
    animation:hourglass 1s linear infinite;
}

.outer{
    fill:#00B7C5;
}

.middle{
    fill:#ffffff;
}

@keyframes hourglass{
    0%{
        transform:rotate(0deg);
        box-shadow:
            inset #ffffff 0 0 0 0,
            inset #00B7C5 0 2em 0 0,
            inset #ffffff 0 4em 0 0,
            inset #00B7C5 0 4em 0 0;
    }
    80%{
        transform:rotate(0deg);
        box-shadow:
            inset #ffffff 0 2em 0 0,
            inset #00B7C5 0 2em 0 0,
            inset #ffffff 0 2em 0 0,
            inset #00B7C5 0 4em 0 0;
    }
    100%{
        transform:rotate(180deg);
        box-shadow:
            inset #ffffff 0 2em 0 0,
            inset #00B7C5 0 2em 0 0,
            inset #ffffff 0 2em 0 0,
            inset #00B7C5 0 4em 0 0;
    }
}

.krit-king-of-front{
    position: relative;
    left: 0px;
    top: -45px;
}
