<div class="container" style="padding-top: 8%;">
	<div class="col-sm-12 patient-login-area">
		<div class="form-signin center-block clearfix" style="    padding-bottom: 20px; padding-top: 40px;" >
			<div class="row">
				<h2 class="card-title text-center" [hidden]="!(step==1 || step==4) " >เข้าสู่ระบบ <i class="fa fa-users" style="    font-size: x-large;"></i>  </h2>
				<h2 class="card-title text-center" [hidden]="step!=3 " > Hospital GO </h2>
				<h3 class="card-title text-center" [hidden]="step!=2" style="font-size: xx-large;">ยืนยันตัวตนผ่านโทรศัพท์มือถือ</h3>
			</div>
			<div class="row text-center" style="padding-bottom: 15px;" [hidden]="!(!isLoading && (step==1 || step==4))">
				<i class="fa fa-ambulance fa-4x" aria-hidden="true"></i>
				<p [hidden]="!(step==4)"> ท่านได้เคยได้รับรหัส OTP แล้ว <br>กรอกรหัส HN หรือรหัสบัตรประชาชน </p>
			</div>
			<div class="wrapper" [hidden]="!isLoading || step==3" >
				<svg class="hourglass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 206" preserveAspectRatio="none">
					<path class="middle" d="M120 0H0v206h120V0zM77.1 133.2C87.5 140.9 92 145 92 152.6V178H28v-25.4c0-7.6 4.5-11.7 14.9-19.4 6-4.5 13-9.6 17.1-17 4.1 7.4 11.1 12.6 17.1 17zM60 89.7c-4.1-7.3-11.1-12.5-17.1-17C32.5 65.1 28 61 28 53.4V28h64v25.4c0 7.6-4.5 11.7-14.9 19.4-6 4.4-13 9.6-17.1 16.9z"/>
					<path class="outer" d="M93.7 95.3c10.5-7.7 26.3-19.4 26.3-41.9V0H0v53.4c0 22.5 15.8 34.2 26.3 41.9 3 2.2 7.9 5.8 9 7.7-1.1 1.9-6 5.5-9 7.7C15.8 118.4 0 130.1 0 152.6V206h120v-53.4c0-22.5-15.8-34.2-26.3-41.9-3-2.2-7.9-5.8-9-7.7 1.1-2 6-5.5 9-7.7zM70.6 103c0 18 35.4 21.8 35.4 49.6V192H14v-39.4c0-27.9 35.4-31.6 35.4-49.6S14 81.2 14 53.4V14h92v39.4C106 81.2 70.6 85 70.6 103z"/>
				</svg>
			</div>
			<div class='drip' [hidden]="step!=3" >

			</div>
			<div class="row">
				<h3 class="card-title text-center" [hidden]="step!=3" style="font-size: xx-large;">เข้าสู่ระบบสำเร็จ</h3>
			</div>
			<div  [hidden]="step!=2 || isLoading" >
				<div class="row text-center">
					<i class="fa fa-mobile fa-4x"></i>
					<i class="fa fa-commenting text-success fa-2x krit-king-of-front"></i>
				</div>
			</div>	
			<div  class="row text-center" [hidden]="!isLoading " >{{ loadingMSG }} </div>
			<div class=""  [hidden]="isLoading" >
				
				<div class="form-group" [hidden]="step!=2">
					<p class="text-center">
						{{greetingMSG}} , 
						รหัสผ่านส่งไปยังเบอร์  {{ phoneNo }}
					</p>
				</div>
				<div class="form-group" [hidden]="!(step==1 || step==4 )" >
					<input type="text" [(ngModel)]="patientID" class="form-control" id="inputPatientIdentifier" placeholder="กรอกรหัส HN หรือรหัสบัตรประชาชน"
						style="margin-bottom: 10px important!;" >
						<small class="text-danger"> {{ errorMSG }} </small>
				</div>
				<div class="form-group" [hidden]="step!=2" >
					<input type="text" [(ngModel)]="OTPCode" class="form-control" id="" placeholder="กรอกรหัส OTP"
						style="margin-bottom: 10px important!;" >
						<small class="text-danger"> {{ errorMSG }} </small>
				</div>
				<div class="form-group"  [hidden]="!(step==1 || step==4)" >
					<button (click)="step==1 ? checkAndRequest() : checkOnly()" class="form-control btn btn-primary btn-block color">เข้าสู่ระบบ</button>
					
				</div>
				<div class="form-group"  [hidden]="step!=2" >
					<button (click)="sendOTP()" class="form-control btn btn-primary btn-block"> ยืนยันรหัส OTP </button>
				</div>
			</div>

			<hr style="margin: 20px auto;" >

			<div class="form-inline" [hidden]="! ((step==1 || step==4) && !isLoading) " >
				<a routerLink="/p_register" class="btn btn-primary pull-left">ผู้ป่วยใหม่</a>
				<a [hidden]="!( step !=4 )" class="btn btn-warning pull-right" style="color: white;" (click)="step=4">ได้รับ OTP แล้ว</a>				
			</div>
			<p [hidden]="step!=2 || isLoading" >หากไม่ได้รับรหัส OTP กด <a style="color : red;" (click)=" checkAndRequest();">ที่นี่</a> เพื่อส่งรหัส OTP อีกครั้ง</p>
			<p [hidden]="step!=2 || isLoading" class="text-center" ><a style="color : #149078" (click)="step=1; errorMSG='';">- นี่ไม่ใช่คุณ -</a> </p>

		</div>
		<div class="form-signin center-block clearfix back"  [hidden]="! ((step==1 || step==4) && !isLoading) " >
			<a style="color : #1abc9c" (click)="goBack()">กลับสู่หน้าแรก</a>
		</div>
	</div>
</div>

