.container{
    padding: 2% 0;
}

.back{
    color: #4286F7 !important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}
.right {
    text-align: right;
}

.contain{
    margin: 0 3%;
}

.data{
    margin: 0 5%;
}

.card{
        box-shadow: 0 0 0 1px #D4D4D5,1px 3px 0 0 #1abd9d,0 1px 3px 0 #D4D4D5;

}

.card-header{
    text-align: center;
    background-color: lightgrey;
}