<div class = "row" *ngIf="found">
    <div class = "col-md-6">
        <h5>ทะเบียนผู้ป่วย</h5>
        <div class="card">
            <div class="card-header">
                {{data['patient_data']['name']['title']}}{{data['patient_data']['name']['fname']}} {{data['patient_data']['name']['lname']}}
            </div>
        <div class="card-block">
            <blockquote class="card-blockquote">
            <p><i class="fa fa-phone" aria-hidden="true"></i>  {{data['patient_data']['tel']}} </p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>  <a href ="mailto:{{data['patient_data']['email']}}">{{data['patient_data']['email']}} </a></p>
            <hr>
            <p>{{data['patient_data']['address']['detail']}}</p>
            <p>{{data['patient_data']['address']['subDistrict']}} {{data['patient_data']['address']['distict']}}</p>
            <p>{{data['patient_data']['address']['province']}} {{data['patient_data']['address']['postCode']}}</p>
            </blockquote>
        </div>
        </div>
    </div>
    <div class = "col-md-6">
        <h5>รายการนัดทั้งหมด 
            <a routerLink="create_appointment_s/{{data['patient_data']['_id']}}">
                <button type="submit" class="btn btn-success">+เพิ่มนัดหมายใหม่</button>
            </a>
        </h5>
        <appointment-list-c [data]="data"></appointment-list-c>
    </div>
</div>
