<div class = "row" *ngIf="found">
    <div class = "col-md-6">
        <h5>ทะเบียนผู้ป่วย</h5>
        <div class="card">
            <div class="card-header">
                {{data['patientdata']['name']['title']}}{{data['patientdata']['name']['fname']}} {{data['patientdata']['name']['lname']}}
            </div>
        <div class="card-block">
            <blockquote class="card-blockquote">
            <p><i class="fa fa-phone" aria-hidden="true"></i>  {{data['patientdata']['tel']}} </p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>  <a href ="mailto:{{data['patientdata']['email']}}">{{data['patientdata']['email']}} </a></p>
            <hr>
            <p>{{data['patientdata']['address']['detail']}}</p>
            <p>{{data['patientdata']['address']['subDistrict']}} {{data['patientdata']['address']['distict']}}</p>
            <p>{{data['patientdata']['address']['province']}} {{data['patientdata']['address']['postCode']}}</p>
            </blockquote>
        </div>
        </div>
    </div>
    <div class = "col-md-6">
        <h5>รายการนัดทั้งหมด <a routerLink="create_appointment"><button type="submit" class="btn btn-success">+เพิ่มนัดหมายใหม่</button></a></h5>
        <appointment-list-c [data]="data"></appointment-list-c>
    </div>
</div>
