
<div>
    <a (click)=goBack()>< ย้อนกลับ</a>
    <hr>
    <div class="container">
        <br>
        <h4>ประวัติการได้รับยา</h4>
        <div class="table-responsive">
                <table class="table table-sm">
                      <thead class="thead-default">
                        <tr>
                        <th>วันที่</th>
                        <th>ชื่อยา</th>
                        <th>จำนวน</th>
                        <th>วิธีใช้</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor = "let d of dataPack">
                            <th rowspan=d.no>{{d.date}}</th>
                            <td>{{d.drug.name}}</td>
                            <td>{{d.amount}}</td>
                            <td>{{d.detail}}</td>
                        </tr>
                        
                        
                    </tbody>  
                </table>
                <br>
        </div>
    
    </div>    
</div>    