<div>
    <a (click)=goBack()>< ย้อนกลับ</a>
    <hr>
    <div class="container">
        <br>
        <h4>ประวัติการได้รับยา</h4>
        <div class="table-responsive">
                <table class="table table-sm">
                      <thead class="thead-default">
                        <tr>
                        <th>วันที่</th>
                        <th>ชื่อยา</th>
                        <th>จำนวน</th>
                        <th>วิธีใช้</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th rowspan=3>4/9/2016</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        </tr>
                        <tr>
                        <th rowspan=3>2/9/2016</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        </tr>
                        <tr>
                        <th rowspan=3>30/8/2016</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        </tr>
                    </tbody>  
                </table>
                <br>
        </div>
    
    </div>    
</div>    