<!--<div class="ui card patientlist">
  <div class="content" styles = "font-size:120%;">
    <div *ngIf="enableCheckin" class="right floated ">
        <a href="#" class="card-link">Check in</a>
    </div>
    <img class="ui avatar image margin-avartar" src="/resources/images/icon_people/m_adult.png"> {{oneData['patient']['name']['title']}}{{oneData['patient']['name']['fname']}} {{oneData['patient']['name']['lname']}}
  </div>
  <div class="image">
    <img>
  </div>
  <div class="content">
    อายุ : {{oneData['patient']['birthDate']}}
    <span class="right floated">
      <i class="fa fa-phone" aria-hidden="true"></i> {{oneData['patient']['tel']}}
    </span>
  </div>
</div>-->
<div class="card" >
   <div class="card-block">
    <h6 class="card-title">{{oneData['patient']['name']['title']}}{{oneData['patient']['name']['fname']}} {{oneData['patient']['name']['lname']}}</h6>
    <p class="card-subtitle text-muted" *ngIf="linkToWhere=='ตรวจร่างกาย'"><i class="fa fa-phone" aria-hidden="true"></i> {{oneData['patient']['tel']}}<span *ngIf="linkToWhere"><a routerLink="/manage/physical_check/{{oneData['patient']['HN']}}" class="card-link pull-right">{{linkToWhere}}</a></span></p>
    <p class="card-subtitle text-muted" *ngIf="linkToWhere=='ส่งเข้าพบแพทย์'"><i class="fa fa-phone" aria-hidden="true"></i> {{oneData['patient']['tel']}}<span *ngIf="linkToWhere"><a style ="    color: #0275d8; cursor:pointer"(click)="checkIn(oneData['_id'])" class="card-link pull-right">{{linkToWhere}}</a></span></p>
    <p class="card-subtitle text-muted" *ngIf="linkToWhere=='เริ่มตรวจ'"><i class="fa fa-phone" aria-hidden="true"></i> {{oneData['patient']['tel']}}<span *ngIf="linkToWhere"><a routerLink="/manage/diagnosis/{{oneData['patient']['HN']}}" class="card-link pull-right">{{linkToWhere}}</a></span></p>
    <p class="card-subtitle text-muted" *ngIf="linkToWhere==NULL"><i class="fa fa-phone" aria-hidden="true"></i> {{oneData['patient']['tel']}}</p>
    
  </div>
     <!--<div class="card-block">
    
  </div>-->
</div>
<toast></toast>