<modal #modal1 [id]="'modal'" [title]="titleModal" [callbackSuccess]="callback" [isShowFooter]="false" >
    <div class="" style="margin-bottom: 4px;">เพิ่มแพทย์ที่จะออกตรวจ <small class="text-muted">กรุณาพิมพ์ชื่อแพทย์เพื่อค้นหส หรือ คลิกที่กล่องเพื่อนเลือกจากรายชื่อ</small></div>
    <div class="row container" style="padding-bottom: 5px;">
         <div class="col-sm-10" style="padding-left: 0px;"><search-select [id]="'kinnch12345'" [issues]=issues (onChange)="handleChange($event)"></search-select>   </div>
         <div class="col-sm-2" style="padding:0px;">   
             <button class="form-control btn btn-block btn-danger"    (click)="addDoctorSchedule()"> เพิ่ม <i class="fa fa-user-plus" aria-hidden="true"></i> </button>
        </div> 
        <!--style="background-color:#28b779; color: white;"-->
    </div>
   
    <hr>
    <h6 style="text-align: center;"> รายชื่อแพทย์ที่ออกตรวจ </h6>
    
    <div class="table-responsive"  *ngIf="selectedEvent" >
    <table class="table">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                   คำนำหน้าชื่อ
                </th>      
                <th>
                   ชื่อ
                </th>
                <th>
                   นามสกุล
                </th>
                <th>
                   ?
                </th>   
            </tr>    
        </thead>    
        <tbody>
        <tr *ngFor="let x of selectedEvent['doctors']; let i = index;" >
            <td>{{i+1}}</td>
            <td>{{x.name.title}}</td>
            <td>{{x.name.fname}}</td>
            <td>{{x.name.lname}}</td>
            <td (click)="removeDoctor(x)"><i class="fa fa-times text-danger" style="cursor: pointer;" aria-hidden="true"></i></td>
        </tr>
        </tbody>
    </table>
  </div>

</modal>
 <!--<button (click)="modal.modalOpen()">open</button>  -->
<div id="calendar"></div>
<div id="stylehere"></div>
