<div class="card login-block">
  <!--<img class="card-img-top" src="" alt="Card image cap">-->
  <div class="card-block">
    <h4 class="card-title"></h4>
    <!--<p class="card-text">-->
      <form>
          <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <div class="icon-block-parent">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <i class="fa fa-users icon-block" aria-hidden="true"></i>
              </div>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            
          </div>
      </form>
    <!--</p>-->
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>