<div [attr.id] =  "printDiv"></div>
<div *ngFor = "let apt of data['appoint'] | reverse">
  <modal #modal [id]="'delete'" [size]="'md'" [title]="'ยืนยันการลบ'" (modalSuccess)="confirmDelete(apt['_id'])" (modalCancel)="cancelDelete()">
  </modal>
  <div class="card card-block">
    <h5 class="card-title">[{{apt['timePeriod2']}}] {{apt['date2']}}</h5>
    
    <div class = "right-btn">
      <a routerLink="/manage/manage_patient/edit_appointment_s/{{data['patient_data']['_id']}}/{{apt['_id']}}">
        <button *ngIf="apt['appointments'][0]['status'] == 0"type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      </a>
      <button (click)="openConfirm()"*ngIf="apt['appointments'][0]['status'] == 0" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
      <button (click)="printAppointment(apt,data['patient_data'])" *ngIf="apt['appointments'][0]['status'] == 0 || apt['appointments'][0]['status'] == 1" type="button" class="btn btn-success"><i class="fa fa-print" aria-hidden="true"></i></button>
    </div>
    <p class="card-text"><b>แผนก</b> : {{apt['doctor']['department']['name']}} <br> <b>แพทย์ : </b> {{apt['doctor']['name']['title']}}{{apt['doctor']['name']['fname']}} {{apt['doctor']['name']['lname']}}</p>
  </div>
</div>
