<a class="back" (click)="goBack()">< ย้อนกลับ</a>
<hr>
<div class="container">
    <br>
    <h3 class = "center">เพิ่มนัดหมายใหม่</h3>
    <hr>
    <div class = "row">
        <div class = "col-md-12">
            <div class="form-group row">
                <label for="inputDepartment" class="col-sm-2 col-form-label">แผนก</label>
                <div class="col-sm-10">
                    <select class="form-control" id="inputDepartment">
                        <option *ngFor="let department of departments">{{department}}</option>
                    </select>
                </div> 
            </div>
        </div>
        <div class = "col-md-12">
            <div class="form-group row">
                <label for="inputDoctor" class="col-sm-2 col-form-label">แพทย์</label>
                <div class="col-sm-10">
                    <select class="form-control" id="inputDoctor">
                        <option *ngFor="let doctor of doctors">{{doctor}}</option>
                    </select>
                </div> 
            </div>
        </div>
        <div class ="col-md-12">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">เลือกวัน</label>
                <div class="col-sm-10">
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked> จ.
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked> อ.
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked> พ.
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" checked> พฤ.
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5" checked> ศ.
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6" checked> ส.
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7" checked> อา.
                    </label>
                </div>
            </div>
        </div>
        <div class ="col-md-12">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ช่วงเวลา</label>
                <div class="col-sm-10">
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="checkboxAM" value="AM" checked> เช้า (9.00-11.30)
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="checkboxPM" value="PM" checked> บ่าย (13.00-15.30)
                    </label>
                </div>
            </div>
        </div>
        <div class = "col-md-12">
            <div class="form-group row">
                <label for="inputDoctor" class="col-sm-2 col-form-label">เวลาที่จะนัดหมาย</label>
                <div class="col-sm-10">
                    <select class="form-control" id="inputDoctor">
                        <option *ngFor="let doctor of doctors">{{doctor}}</option>
                    </select>
                </div> 
            </div>
        </div>
        <div class = "col-md-12">
            <div class="form-group row">
                <label for="inputNote" class="col-sm-2 col-form-label">อาการ(Optional)</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="inputNote" rows="3"></textarea>
                </div> 
            </div>
        </div>
        <div class="col-md-12">
            <div class="center">
                <button type="button" class="btn btn-danger center" (click)="goBack()">ยกเลิก</button>
                <button type="button" class="btn btn-primary center">ลงทะเบียน</button>
                <br><br>
            </div>
        </div>
    
    </div>
    
</div>