<div class="diagnosis">


	<div _ngcontent-bir-6="" class="row">
		<div _ngcontent-bir-6="" class="col-md-12">
			<h5 _ngcontent-bir-6="">ข้อมูลการตรวจร่างกายเบื้องต้น</h5>
			<div _ngcontent-bir-6="" class="card">
				<div _ngcontent-bir-6="" class="card-block">
					<blockquote _ngcontent-bir-6="" class="card-blockquote">
						<div class="row">
							<div class="col-md-4">
								<p>อัตราการเต้นหัวใจ : </p>
							</div>
							<div class="col-md-4">
								<p>ความดันช่วงบีบ : </p>
							</div>
							<div class="col-md-4">
								<p>ความดันช่วงคลาย : </p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<p>น้ำหนัก : </p>
							</div>
							<div class="col-md-4">
								<p>ส่วนสูง : </p>
							</div>
							<div class="col-md-4">
								<p>อุณหภูมิ : </p>
							</div>
						</div>
                        <a href="#" class="btn btn-primary pull-right" role="button">ดูรายละเอียดทั้งหมด</a>
					</blockquote >
				</div>
			</div>
		</div>
	</div>
    <button type="button" class="btn btn-success">เพิ่มการวินิจฉัย</button>
	<hr _ngcontent-vsw-5="">
	<div _ngcontent-bir-6="" class="row">
		<div _ngcontent-bir-6="" class="col-md-12">
			<h5 _ngcontent-bir-6="">ประวัติการรักษา</h5>
			<div _ngcontent-bir-6="" class="card">
				<div _ngcontent-bir-6="" class="card-block">
					<blockquote _ngcontent-bir-6="" class="card-blockquote">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>วันที่</th>
									<th>ผลการวินิจฉัย</th>
                                    
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>John</td>
									<td><a href="#" class="btn btn-info pull-right" role="button">ดูเพิ่มเติม</a>Doe</td>
								
								</tr>
								<tr>
									<td>Mary</td>
									<td> <a href="#" class="btn btn-info pull-right" role="button">ดูเพิ่มเติม</a>Moe</td>
									
								</tr>
								<tr>
									<td>July</td>
									<td> <a href="#" class="btn btn-info pull-right" role="button">ดูเพิ่มเติม</a>Dooley</td>
									
								</tr>
							</tbody>
						</table>

					</blockquote>
				</div>
			</div>
		</div>
	</div>

</div>