<div class="diagnosis">
	<div _ngcontent-bir-6="" class="row">
		<div _ngcontent-bir-6="" class="col-md-12">
			<h5 _ngcontent-bir-6="">ประวัติการรักษา</h5>
			<div _ngcontent-bir-6="" class="card">
				<div _ngcontent-bir-6="" class="card-block">
					<blockquote _ngcontent-bir-6="" class="card-blockquote">
						<div class="table-responsive">
							<table class="table table-sm">
								<thead class="thead-default">
									<tr>
										<th>วันที่</th>
										<th>ผลการวินิจฉัย</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>01/10/59</th>
										<td><button class="btn btn-outline-success pull-right" role="button" (click)="gotoDetail(6,2)">ดูเพิ่มเติม</button>H1N1</td>

									</tr>
									<tr>
										<th>17/08/59</th>
										<td> <button class="btn btn-outline-success pull-right" role="button" (click)="gotoDetail(6,2)">ดูเพิ่มเติม</button>H1N1</td>

									</tr>
									<tr>
										<th>07/06/59</th>
										<td> <button class="btn btn-outline-success pull-right" role="button" (click)="gotoDetail(6,2)">ดูเพิ่มเติม</button>H1N1</td>

									</tr>
								</tbody>
							</table>
						</div>

					</blockquote>
				</div>
			</div>
		</div>
	</div>

</div>

