<div class="diagnosis">

	<hr _ngcontent-vsw-5="">
	<div _ngcontent-bir-6="" class="row">
		<div _ngcontent-bir-6="" class="col-md-12">
			<h5 _ngcontent-bir-6="">ข้อมูลการตรวจร่างกายเบื้องต้น</h5>
			<div _ngcontent-bir-6="" class="card">
				<div _ngcontent-bir-6="" class="card-block">
					<blockquote _ngcontent-bir-6="" class="card-blockquote">
						<div class="row">
							<div class="col-md-4">
								<p>น้ำหนัก (กก.) : </p>
							</div>
							<div class="col-md-4">
								<p>ส่วนสูง (ซม.) : </p>
							</div>
							<div class="col-md-4">
								<p>อุณหภูมิ (องศา) : </p>
							</div>
						</div>
                        <div class="row">
							<div class="col-md-4">
								<p>อัตราการเต้นหัวใจ : </p>
							</div>
							<div class="col-md-4">
								<p>ความดันช่วงบีบ : </p>
							</div>
							<div class="col-md-4">
								<p>ความดันช่วงคลาย : </p>
							</div>
						</div>
						<button class="btn btn-primary pull-right" role="button" (click)="gotoPage(5)">ดูรายละเอียดทั้งหมด</button>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
	<button id="detail" type="button" class="btn btn-success">เพิ่มการวินิจฉัย</button>
	<hr _ngcontent-vsw-5="">
	<div _ngcontent-bir-6="" class="row">
		<div _ngcontent-bir-6="" class="col-md-12">
			<h5 _ngcontent-bir-6="">ประวัติการรักษา</h5>
			<div _ngcontent-bir-6="" class="card">
				<div _ngcontent-bir-6="" class="card-block">
					<blockquote _ngcontent-bir-6="" class="card-blockquote">
						<div class="table-responsive">
							<table class="table table-sm">
								<thead class="thead-default">
									<tr>
										<th>วันที่</th>
										<th>ผลการวินิจฉัย</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>01/10/59</th>
										<td><a href="#" class="btn btn-info pull-right" role="button">ดูเพิ่มเติม</a>H1N1</td>

									</tr>
									<tr>
										<th>17/08/59</th>
										<td> <a href="#" class="btn btn-info pull-right" role="button">ดูเพิ่มเติม</a>H1N1</td>

									</tr>
									<tr>
										<th>07/06/59</th>
										<td> <a href="#" class="btn btn-info pull-right" role="button">ดูเพิ่มเติม</a>H1N1</td>

									</tr>
								</tbody>
							</table>
						</div>

					</blockquote>
				</div>
			</div>
		</div>
	</div>

</div>