<section class="container">
    <br>
    <h5 _ngcontent-bir-6="">ผลการวินิจฉัย</h5>
			<div _ngcontent-bir-6="" class="card">
				<div _ngcontent-bir-6="" class="card-block">
					<blockquote _ngcontent-bir-6="" class="card-blockquote">
						<div class="row">
							<div class="col-md-12">
								<p>คุณเป็นไข้หวัดใหญ่สายพันธุ์ H1N1</p>
							</div>
						</div>
					</blockquote>
				</div>
			</div>
    <br>
    <h5 _ngcontent-bir-6="">รายละเอียดการวินิจฉัย</h5>
			<div _ngcontent-bir-6="" class="card">
				<div _ngcontent-bir-6="" class="card-block">
					<blockquote _ngcontent-bir-6="" class="card-blockquote">
						<div class="row">
							<div class="col-md-12">
								<p>คุณเป็นไข้หวัดใหญ่สายพันธุ์ H1N1</p>
							</div>
						</div>
					</blockquote>
				</div>
			</div>
</section>