<h3>เพิ่มบุคคลากร</h3>
<a class="back" (click)="goback()">< ย้อนกลับ</a>
<hr>
<div class = "container">
    <br>
    <br>    
    <div class="form-add-staff">
        <div class="form-group row">
            <label class="col-xs-4 col-form-label right">ชื่อ</label>
            <div class="col-xs-6">
                <input class="form-control" type="text">
            </div>
        </div> 
        <div class="form-group row">
            <label class="col-xs-4 col-form-label right">นามสกุล</label>
            <div class="col-xs-6">
                <input class="form-control" type="text">
            </div>                
        </div>
        <div class="form-group row">
            <label class="col-xs-4 col-form-label right">เพศ</label>
            <div class="col-xs-6">
                <select class="form-control">
                    <option>กรุณาเลือกเพศ</option>
                    <option>หญิง</option>
                    <option>ชาย</option>
                </select>
            </div>                
        </div> 
        <div class="form-group row">
            <label class="col-xs-4 col-form-label right">Username</label>
            <div class="col-xs-6">
                <input class="form-control" type="text">
            </div>                
        </div> 
        <div class="form-group row">
            <label class="col-xs-4 col-form-label right">Password</label>
            <div class="col-xs-6">
                <input class="form-control" type="password">
            </div>                
        </div> 
        <div class="form-group row"> 
            <label class="col-xs-4 col-form-label right">Confirm Password</label>
            <div class="col-xs-6">
                <input class="form-control" type="password">
            </div>                
        </div> 
        <div class="form-group row">
            <label class="col-xs-4 col-form-label right">ตำแหน่ง</label>
            <div class="col-xs-6">
                <select class="form-control">
                    <option>กรุณาเลือกตำแหน่ง</option>
                    <option>แพทย์</option>
                    <option>พยาบาล</option>
                    <option>เภสัชกร</option>
                    <option>เจ้าหน้าที่ของโรงพยาบาล</option>
                </select>
            </div>                          
        </div>
        <div class="form-group row">
            <label class="col-xs-4 col-form-label right">แผนก</label>
            <div class="col-xs-6">
                <select class="form-control">
                    <option>กรุณาเลือกแผนก</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>                
        </div> 
    </div>
    <br>
    <div class="center">
        <button type="button" class="btn btn-danger" style="width: 150px; margin-right:50px;">ยกเลิก</button>
        <button type="button" class="btn btn-primary" style="width: 150px">ยืนยัน</button>
    </div>
    <br>
    <br>    
</div>