<!--Modal-->
<modal #deleteModal [id]="'delete'" [size]="'md'" [title]="'ยืนยันการลบ'" [callbackSuccess]="deleteAppointment(selected_appt_id)" [isShowFooter]="false"  >
    <div class="row" style="display: inline-flex; padding-bottom: 10px;">
        <div class="container">ดำเนินการลบการนัดแพทย์</div>    
    </div>
    <hr>
    <h6 style="text-align: center;"> รายละเอียดการนัดแพทย์ </h6>
    <div class="row" style="text-align: center;">
        <div class="col-xs-12">
            <p><b>วันที่ : </b> {{appt.date}}</p>
        </div>
        <div class="col-xs-12 col-sm-5">
            <p><b>แผนก : </b> {{appt.doctor.department.name}}</p>
        </div>
        <div class="col-xs-12 col-sm-7">
            <p><b>แพทย์ : </b> {{appt.doctor.name.title}}{{appt.doctor.name.fname}}{{appt.doctor.name.lname}}</p>
        </div>
    </div>
</modal>



<div class="container">
    <br>
    <br>
    <br>
    <section class = "patientDetail">
            <div class="row"> 
                <div class="col-sm-3" >
                    <img src="/resources/images/icon_people/fm_adult.png" class="patient-img">
                </div>
                <div class="col-sm-9" >
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <p><b>ชื่อ : </b>{{patient_title}}{{patient_fname}}</p>
                        </div>  
                        <div class="col-sm-4">
                            <p><b>นามสกุล : </b>{{patient_lname}}</p>    
                        </div>
                        <div class="col-sm-4">
                            <p><b>HN : </b>{{patient_HN}}</p>    
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p><b>เพศ : </b>{{patient_sex}}</p>
                        </div>  
                        <div class="col-sm-4">
                            <p><b>อายุ : </b>{{patient_birthDate}}</p>    
                        </div> 
                        <div class="col-sm-4">  
                        </div>
                    </div> 
                </div>    
            </div>    
    </section>
    <hr>
    <h4>รายการนัดทั้งหมด 
        <a routerLink="/patient/create_appointment/{{patient_id}}"><button type="submit" style="margin-right: 5%" class="btn btn-success pull-right">+เพิ่มนัดหมายใหม่</button></a>
    </h4>
    <br>
    <div class="appointment-list" *ngFor="let appt of appointments; let i = index;" id="appt-box-{{appt._id}}">
        <h5 class="card-title">{{appt.date}}
            <a routerLink="/patient/edit_appointment/{{patient_id}}">
                <button type="button" style="margin-left: 5px" class="btn btn-danger pull-right">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </a>
            <a (click)="tryToDeleteAppointment({{appt._id}})">
                <button type="button" class="btn btn-primary pull-right">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
            </a>
        </h5>
        <div class="row">
            <div class="col-sm-4">
                <p><b>แผนก : </b> {{appt.doctor.department.name}}</p>
            </div>
            <div class="col-sm-8">
                <p><b>แพทย์ : </b> {{appt.doctor.name.title}}{{appt.doctor.name.fname}}{{appt.doctor.name.lname}}</p>
            </div>    
        </div>    
    </div>
</div>    
