<div class="container">
    <br>
    <br>
    <br>
    <section class = "patientDetail">
            <div class="row"> 
                <div class="col-sm-3" >
                    <img src="/resources/images/icon_people/fm_adult.png" class="patient-img">
                </div>
                <div class="col-sm-9" >
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <p><b>ชื่อ : </b>{{patient_title}}{{patient_fname}}</p>
                        </div>  
                        <div class="col-sm-4">
                            <p><b>นามสกุล : </b>{{patient_lname}}</p>    
                        </div>
                        <div class="col-sm-4">
                            <p><b>HN : </b>{{patient_HN}}</p>    
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p><b>เพศ : </b>{{patient_sex}}</p>
                        </div>  
                        <div class="col-sm-4">
                            <p><b>อายุ : </b>{{patient_birthDate}}</p>    
                        </div> 
                        <div class="col-sm-4">  
                        </div>
                    </div> 
                </div>    
            </div>    
    </section>
    <hr>
    <h4>รายการนัดทั้งหมด 
        <a routerLink="create_appointment/123"><button type="submit" style="margin-right: 5%" class="btn btn-success pull-right">+เพิ่มนัดหมายใหม่</button></a>
    </h4>
    <br>
    <div class="appointment-list">
        <h5 class="card-title">[AM] Oct 24, 2016
            <button type="button" style="margin-left: 5px" class="btn btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        </h5>
        <div class="row">
            <div class="col-sm-4">
                <p><b>แผนก : </b> aaaaaaaaaaaaa</p>
            </div>
            <div class="col-sm-8">
                <p><b>แพทย์ : </b> aaaaaaa  aaaaaaaaaaaa</p>
            </div>    
        </div>    
    </div>
    <div class="appointment-list">
        <h5 class="card-title">[AM] Oct 24, 2016
            <button type="button" style="margin-left: 5px" class="btn btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        </h5>
        <div class="row">
            <div class="col-sm-4">
                <p><b>แผนก : </b> aaaaaaaaaaaaa</p>
            </div>
            <div class="col-sm-8">
                <p><b>แพทย์ : </b> aaaaaaa  aaaaaaaaaaaa</p>
            </div>    
        </div>    
    </div>
</div>    
