
<!--
appointment status
0 == created in website
1 == ปรินท์ใบนัดแล้ว
2 == ตรวจร่างกายแล้ว
3 == ตรวจอยู่
4 == ตรวจเสร็จ.
-->
        
<!--
roleID
1 == hospitalStaff // muliple queue
2 == doctor         // 1 queue
3 == nurse          //merged queue
4 == pharmacist
-->
<div *ngIf="roleID==1">
    <h3>รายชื่อผู้ป่วยวันนี้</h3>
    <hr>
</div>

<!--staff-->
<div class="horizontal-container" *ngIf="roleID==1">
    <div *ngIf="roleID==1 && scheduleList">        
            <patient-list-c *ngFor="let doctorSchedule of scheduleList" [queue]="doctorSchedule" [roleID] = "roleID">
            </patient-list-c>
    </div>
    <div *ngIf="roleID==1 && isEmpty">
        <p>วันนี้ยังไม่มีผู้ป่วย</p>
    </div>
</div>
<!--doctor-->
<div *ngIf="roleID==2 && scheduleList">
    <patient-list-c [queue]="scheduleList[0]" [roleID] = "roleID">
    </patient-list-c>
</div>

<!--nurse-->
<div *ngIf="roleID==3 && scheduleList">
    <patient-list-c [queue]="scheduleList[0]" [roleID] = "roleID">
    </patient-list-c>
</div>
