<h2>รายชื่อผู้ป่วยวันนี้</h2>
<br>

<div class = "row">
    <div class = "col-md-6">
        <h4>กำลังพบแพทย์</h4>
        <patient-list-c>
        </patient-list-c>
        <patient-list-c>
        </patient-list-c>
    </div>
    <div class = "col-md-6">
        <h4>รอพบแพทย์</h4>
        <patient-list-c>
        </patient-list-c>
    </div>
    <div class = "col-md-6">
        <h4>ยังไม่ได้ตรวจร่างกาย</h4>
        <patient-list-c>
        </patient-list-c>
    </div>
    <div class = "col-md-6">
        <h4>ยังไม่มา(ไม่พิมพ์ใบนัด)</h4>
        <patient-list-c>
        </patient-list-c>
    </div>
    <div class = "col-md-6">
        <h4>พบแพทย์แล้ว</h4>
        <patient-list-c>
        </patient-list-c>
    </div>
</div>