<h3>รายชื่อผู้ป่วยวันนี้</h3>
<hr>
<p>roleID {{roleID}}</p>
<p>department {{departmentID}}</p>
<div class="horizontal-container">
    <!--staff-->
    <div *ngIf="roleID==1">        
            <patient-list-c *ngFor="let x of [1,2,3,4,5]" [roomNo]="x"></patient-list-c>
            <!--<patient-list-c style="height:85%" [roomNo]="2"></patient-list-c>
            <patient-list-c style="height:85%" [roomNo]="3"></patient-list-c>
            <patient-list-c style="height:85%" [roomNo]="4"></patient-list-c>-->

    </div>

    <!--doctor-->
    <div *ngIf="roleID==2">
    </div>

    <!--nurse-->
    <div *ngIf="roleID==3">
    </div>
</div>
