<a class="back" (click)="goback()">< ย้อนกลับ</a>
<hr>
<section class = "container">
    <br>
    <div class="row"> 
        <div class="col-sm-3">
            <img src="/resources/images/icon_people/fm_adult.png" class="patient-img img-responsive">
        </div>
        <div class="col-sm-9">
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p><b>ชื่อ : </b>นางสาว กรชนก</p>
                </div>  
                <div class="col-md-4">
                    <p><b>นามสกุล : </b>จิรเวศยกุล</p>    
                </div>
                <div class="col-md-4">
                    <p><b>HN : </b>XXXXXXXX</p>    
                </div> 
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p><b>เพศ : </b>หญิง</p>
                </div>  
                <div class="col-md-4">
                    <p><b>อายุ : </b>21 ปี 10 เดือน</p>    
                </div> 
                <div class="col-md-4">  
                </div>
            </div>
        </div>    
    </div>
    <br>
    <patient-physical-check-c></patient-physical-check-c>
</section>