<a class="back" (click)="goback()">< ย้อนกลับ</a>
<hr>
<section class = "container" *ngIf="data && found">
    <br>
    <div class="row"> 
        <div class="col-sm-3">
            <img src="/resources/images/icon_people/fm_adult.png" class="patient-img img-responsive">
        </div>
        <div class="col-sm-9">
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p><b>ชื่อ : </b>{{data['patient_data']['name']['title']}}{{data['patient_data']['name']['fname']}}</p>
                </div>  
                <div class="col-md-4">
                    <p><b>นามสกุล : </b>{{data['patient_data']['name']['lname']}}</p>    
                </div>
                <div class="col-md-4">
                    <p><b>HN : </b> {{data['patient_data']['HN']}}</p>    
                </div> 
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p><b>เพศ : </b> {{data['patient_data']['sex']}}</p>
                </div>  
                <div class="col-md-4">
                    <p><b>อายุ : </b> {{year}} ปี {{month}} เดือน</p>    
                </div> 
                <div class="col-md-4"> 
                    <p><b>กรุ๊ปเลือด : </b> {{data['patient_data']['bloodType']}} </p> 
                </div>
            </div>
        </div>    
    </div>
    <hr>
    <br>

    <patient-physical-check-c>
    </patient-physical-check-c>
    
    <diagnosis-c>
    </diagnosis-c>
</section>