<a class="back" (click)="goback()">< ย้อนกลับ</a>
<hr>
<section class = "container card-container" *ngIf="data && found">
    <br>
    <div class="row"> 
        <div class="col-sm-3">
            <img src="/resources/images/icon_people/fm_adult.png" class="patient-img img-responsive">
        </div>
        <div class="col-sm-9">
            <br>
             <div class="row">
                <div class="col-sm-12">
                    <p><b>ชื่อผู้ป่วย : </b> {{data.patient_data.name.title}}&nbsp;{{data.patient_data.name.fname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.patient_data.name.lname}}</p>
                </div>  
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p><b>เพศ : </b> {{data.patient_data.sex=='male' ? "ชาย" : "หญิง"}}</p>
                </div>  
                <div class="col-sm-3">
                    <p><b>อายุ : </b>{{year}}&nbsp;ปี&nbsp;{{month}}&nbsp;เดือน</p>    
                </div> 
                <div class="col-sm-3">  
                     <p><b>กรุ๊ปเลือด : </b>{{data.patient_data.bloodType}}</p>
                </div>
                <div class="col-sm-3">
                    <p><b>HN : </b>{{data.patient_data.HN}}</p>    
                </div> 
            </div>
        </div>    
    </div>
    <hr>
    <br>

    <patient-physical-check-c *ngIf="enablePhysicalDetail">
    </patient-physical-check-c>
    
    <diagnosis-c *ngIf="enableDiagnosisDetail">
    </diagnosis-c>
</section>