<modal #modal1 [id]="'modal'" [title]="titleModal" [callbackSuccess]="callback" [isShowFooter]="false" >
    <div class="row" style="display: inline-flex; padding-bottom: 10px;">
        <div class="container">สถานะการออกตรวจของท่าน  </div>
        <div class="" style="display: inline;">
            <i aria-hidden="true" class="fa " [ngClass]="isOperate ? 'fa-check-circle-o text-success' : 'fa-times text-danger'" ></i> {{ isOperate ? 'ออกตรวจ' : 'ไม่ออกตรวจ'  }}
        </div>    
    </div>    
    <button class="form-control btn btn-block" [ngClass]="!isOperate ? 'btn-success' : 'btn-danger'" (click)="isOperate = !isOperate">{{ !isOperate ? 'ออกตรวจ' : 'ยกเลิกออกตรวจ'  }}</button>
    <hr>
    <h6 style="text-align: center;"> รายชื่อผู้ป่วยที่นัดหมายกับท่าน </h6>
    
    <div class="table-responsive">
    <table class="table">
        <tbody>
        <tr *ngFor="let x of numbers; let i = index;" >
            <td>{{i}}</td>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
        </tr>
        </tbody>
    </table>
  </div>

</modal>
 <!--<button (click)="modal.modalOpen()">open</button>  -->
 <div class="card">
     <div class="card-header">
         <h5>ตารางออกตรวจของท่าน</h5>
     </div>
     <div class="card-block">
       <ul>
            <i class="fa fa-stethoscope" aria-hidden="true" style="color: #ff9800; margin-right:10px;"> แสดงหน้าช่วงเวลาที่ท่านจะออกตรวจ</i> 
            <i class="fa fa-square" aria-hidden="true" style="color: rgba(113, 183, 85, 0.72);"> จำนวนแพทย์ที่จะออกตรวจ/จำนวนที่มากที่สุด ในช่วงเวลานั้น</i><br>
            <i class="fa fa-square" aria-hidden="true" style="color: rgb(217, 83, 79);"> จำนวนผู้ป่ายที่นัดหมายไว้/จำนวนที่รับจองมากสุด ในช่วงเวลานั้น</i><br>
            <img src="/resources/images/sun-rise.png" width="40" > ช่วงเช้า   <img src="/resources/images/noon.png" width="40" >ช่วงบ่าย
        </ul>    
        <div id="calendar"></div>
     </div>
 </div>    

<div id="stylehere"></div>
