  
  .banner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  .btn {
    background-color:rgba(255, 255, 255, 0.6);
    color: dimgray;
    border: 1px solid #1abc9c;
    width: 250px;
    font-size: 24px;
}

.btn:hover {
    background-color:#1abc9c;
    color: white;
}
.header-info{
    position: static;
    margin-top: 20%;
}

     
    footer {
      background-color: #1abc9c;
      color: white; 
      padding: 25px;
      bottom: 0;
      width:100%;
      text-align: center;
    }
  