	<div class="banner text-center">
		<img src="./../../../resources/images/HG_banner.png" class="img-responsive" >
	</div>

	<div class="container text-center">		
		<a class="btn btn-block btn-lg" (click)="gotoLogin()">เข้าสู่ระบบนัดหมาย</a><br>
		<div class="row">
			<div class="col-sm-4">
				<img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
				<p>Project 1</p>
			</div>
			<div class="col-sm-4">
				<img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
				<p>Project 2</p>
			</div>
			<div class="col-sm-4">
				<img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
				<p>Project 3</p>
			</div>
		</div>
	</div><br>