<div>
    <h3>แก้ไขรายการจ่ายยา</h3>
    <a (click)=goBack()>< ย้อนกลับ</a>
    <hr>
    <div class="container">
        <br>
        <br>
            <div class="contain">
                <prescription-form-c></prescription-form-c>
                <hr>
                <div class="row right">
                    <button type="button" class="btn btn-success" style="width: 15%; min-width: 150px"> ยืนยันการจ่ายยา </button>                  
                </div>   
            </div>
        <br>
    </div>
</div>