<div>
    <a (click)=goBack()>< ย้อนกลับ</a>
    <hr>
    <h5>แก้ไขรายการจ่ายยา</h5>
    <div class="container">
        <br>
        <br>
            <div class="contain">
                <prescription-form-c *ngIf="data" [data] = "data" (myformChange)="handle($event)"></prescription-form-c>
                <hr>
                <div class="row right">
                    <button routerLink="/manage/edit_prescription_request" type="button" class="btn btn-danger" style="width: 15%; min-width: 150px"> ยกเลิก </button>                  
                    <button type="button" class="btn btn-primary" style="width: 15%; min-width: 150px" (click)="confirm()"> ยืนยันการจ่ายยา </button>                  
                </div>   
            </div>
        <br>
    </div>
</div>