<h3>จัดการผู้ป่วย</h3>
<hr>
<h5>ค้นหาผู้ป่วย</h5>
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="hnOrIDinput">กรอก HN หรือ รหัสประจำตัวประชาชน</label>
    <input type="text" class="form-control" id="hnOrIDinput" placeholder="กรอก HN หรือ รหัสประจำตัวประชาชน">
  </div>
  <button type="submit" class="btn btn-primary">ค้นหา</button>
  <a routerLink="register"><button type="submit" class="btn btn-success">+ เพิ่มนัดหมายสำหรับผู้ป่วยใหม่</button></a>
</form>
<hr>
<patient-appointment-c></patient-appointment-c>
