<h3>จัดการผู้ป่วย</h3>
<hr>
<h5>ค้นหาผู้ป่วยด้วยรหัสประจำตัวผู้ป่วย หรือ รหัสประจำตัวประชาชน</h5><small class="text-danger">{{errorTitle}}</small>
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="hnOrIDinput">กรอก HN หรือ รหัสประจำตัวประชาชน</label>
    <input type="text" class="form-control" id="hnOrIDinput" name="hnOrIDinput" placeholder="กรอก HN หรือ รหัสประจำตัวประชาชน" [(ngModel)]="hnOrIDinput" (ngModelChange)="validateSearch($event)">
    
  </div>
  <button type="submit" class="btn btn-primary" (click)="getPatientAndAppointment()">ค้นหา</button>
  <a routerLink="register"><button type="submit" class="btn btn-success">+ สมัครผู้ป่วยใหม่</button></a>
</form>
<hr>
<patient-appointment-c [found]="found" [data]="data" ></patient-appointment-c>
<toast></toast>
