
.select2-container .select2-selection--multiple{
    min-height: 38px;
    min-width: 100%;
}

li.select2-search.select2-search--inline{
    /*width: 100% !important;  */
}

input.select2-search__field{
    /*width: 100% ;  */
}

.select2-selection__choice{
    border: unset!important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid rgba(0, 0, 0, 0.46) 1px !important;
    outline: 0;
}